<div class="openFolder">
	<button commandfor="upload-file" command="show-modal">Upload file</button>
	<button commandfor="create-folder" command="show-modal">
		Create folder
	</button>
	<dialog id="upload-file">
		<form action="/home/upload/<%= folderData.id %>" method="post" enctype="multipart/form-data">
			<button type="button" commandfor="upload-file" command="close">
				Close
			</button>
			<label for="uploadedFiles">Files</label>
			<input id="file-upload" type="file" name="uploadedFiles" multiple required />
			<button type="submit">Upload</button>
		</form>
	</dialog>

	<dialog id="create-folder">
		<form action="/home/createFolder/<%= folderData.id %>" method="post">
			<button type="button" commandfor="create-folder" command="close">
				Close
			</button>
			<label for="folderName">Folder name: </label>
			<input type="text" name="folderName" required />
			<button type="submit">Create</button>
			</form>
	</dialog>
	<a href="/home">Home</a>

	<% if (!folderData.folders.length && !folderData.files.length) {%>
		<p>This folder is empty</p>	
	<%} %>


	<% if (folderData.folders.length) {%>
		<% folderData.folders.forEach(folder => {%>
			<div class="folderRow">
				<a href="/home/folder/<%= folder.id %>"><%= folder.name %></a>
				<p><%= folder.createdAt %></p>
				<button type="button" commandFor="edit-folder-<%= folder.id %>" command="show-modal">Edit folder</button>
				<dialog id="edit-folder-<%= folder.id %>">
					<form action="/home/editFolder/<%= folder.id %>" method="post">
						<label for="newFolderName">Folder name:</label>
						<input type="text" name="newFolderName" value="<%= folder.name %>" required>
						<button type="submit" >Edit</button>
						<button type="button" commandFor="edit-folder-<%= folder.id %>" command="close">Cancel</button>
					</form>
				</dialog>

				<form action="/home/deleteFolder/<%= folder.id %>" method="post">
					<button type="submit">Delete</button>
				</form>
			</div>
		<%}) %>
	<% } %>

	<% if (folderData.files.length) {%>
			<% folderData.files.forEach(file => {%>
				<div class="fileRow">
					<p><%= file.name %></p>
					<p><%= file.createdAt %></p>
					<p><%= file.size %></p>
					<a href="/home/downloadFile?fileId=<%= file.id%>">Download File</a>
					<button type="button" commandFor="edit-file-<%= file.id %>" command="show-modal">Edit file</button>
					<dialog id="edit-file-<%= file.id %>">
						<form action="/home/editfile?fileId=<%= file.id %>" method="post">
							<label for="newFileName">Folder name:</label>
							<input type="text" name="newFileName" value="<%= file.name %>" required>
							<button type="submit" >Edit</button>
							<button type="button" commandFor="edit-file-<%= file.id %>" command="close">Cancel</button>
						</form>
					</dialog>
					<form action="/home/deleteFile?fileId=<%= file.id %>" method="post">
						<button type="submit">Delete</button>
					</form>

				</div>		
			<%}) %>
		<% } %>

</div>