<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/style.css">
	<link rel="icon" type="image/x-icon" href="/icons/favicon.ico">
	<title>Home</title>
</head>

<body>
	<%- include('partials/header') %>
	<main class="home">
		<% if (locals.uploadError) {%>
			<% switch (uploadError) {
				case 'LIMIT_FILE_SIZE': %>
					<%- include('partials/errorPopup', {errorMsg: 'File size cannot exceed the specified limit.'}) %>
				<% break;
				case 'LIMIT_FILE_COUNT': %>
					<%- include('partials/errorPopup', {errorMsg: "Cannot upload more files than the specified limit."}) %>
				<% break;
			} %>
		<%} %>
		<%- include('openFolder', {folderData: folderData}) %>
	</main>

	<%- include('partials/footer') %>
</body>
<script src="/scripts/userNavigation.js" type="module" defer></script>
<script src="/scripts/modifyDisplayValues.js" defer></script>

</html>